# Dataframe Manipulation Warmup

In [1]:
import numpy as np
import pandas as pd

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})

df

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
0,lemur,potato,apple,yes,8.313351,44
1,panda,potato,apple,yes,11.801073,10
2,cat,squash,blueberries,yes,10.105141,35
3,lemur,squash,apple,no,11.024605,70
4,dog,brussel sprouts,apple,yes,6.732698,73
...,...,...,...,...,...,...
4995,frog,potato,blueberries,yes,9.992337,59
4996,frog,potato,apple,yes,8.916902,46
4997,lemur,squash,banana,no,7.317019,70
4998,lemur,squash,blueberries,yes,12.720892,50
4999,dog,potato,banana,yes,12.890119,53

- What is the highest amount of netflix consumption? `17.535`

In [2]:
df.netflix_consumption.max()

17.534818515438925

- How many people wear glasses? What percentage of people is this? `2555`, `.511`

df.wear_glasses.value_counts
df.wear_glasses.value_counts(normalize=True)

In [3]:
n_wears_glasses = (df['wears_glasses'] == 'yes').sum()
perc_wears_glasses = n_wears_glasses / len(df)
n_wears_glasses, perc_wears_glasses

(2555, 0.511)

- How many people's favorite animal is a dog? `1002`

In [4]:
(df['favorite_animal'] == 'dog').sum()

1002

- What is the most common favorite animal? `lemur`

In [5]:
((df['favorite_animal'].value_counts()).head(1))

lemur    1028
Name: favorite_animal, dtype: int64

- What is the average netflix consumption for people that prefer brussel
  sprouts? `10.008`
  
df[df.favorite_fruit == 'brussel sprouts'].netflix_consumption.mean()

In [6]:
(df.netflix_consumption.where(df['favorite_vegetable'] == 'brussel sprouts')).mean()

10.00847154798366

- What is the most common favorite fruit for people who wear glasses and have
  more than 40 open browser tabs? `blueberries`
  
df[(df.wear_glasses == 'yes') & (df.open_browser_tabs > 40)].favorite_fruit.value_counts()

In [7]:
(df.favorite_fruit.where((df['wears_glasses'] == 'yes') & (df['open_browser_tabs'] > 40))).mode()

0    blueberries
dtype: object

- What percentage of people have a netflix consumption lower than 7? `.0716`

In [10]:
(df['netflix_consumption'] < 7).mean()

0.0716

- What is the average netflix consumption for people with less than 30 open
  browser tabs? `9.91935`

In [12]:
df[df.open_browser_tabs < 30].netflix_consumption.mean()

9.91935736918227

#### - How many people *don't* wear glasses, have a favorite animal of a panda, have
  a favorite fruit of blueberries, and have more than 60 open browser tabs? What
  is the median netflix consumption for this group? What is the most common
  favorite vegetable for this group? `46`, `10.455`, `potato`

In [29]:
# (df.query('wear_glasses == "no"')
#     .query('favorite_animal == "panda"')
#     .query('favorite_fruit == "blueberries"')
#     .query('open_browser_tabs > 60')
#     .netflix_consumption.median())

In [21]:
no_glasses = df.wears_glasses == 'no' 
favorite_animal = df.favorite_animal == 'panda' 
favorite_fruit = df.favorite_fruit == 'blueberries'
open_browser_tabs = df.open_browser_tabs > 60

mask = no_glasses & favorite_animal & open_browser_tabs & favorite_fruit

In [22]:
df[mask].shape

(46, 6)

In [23]:
df[mask].netflix_consumption.median()

10.45479760071613

In [24]:
df[mask].favorite_vegetable.value_counts()

potato             19
brussel sprouts    14
squash             13
Name: favorite_vegetable, dtype: int64

##### - What is the least popular combination of favorite fruit and vegetable? `apple` and `potato`

In [26]:
df.groupby(['favorite_fruit', 'favorite_vegetable']).size()

favorite_fruit  favorite_vegetable
apple           brussel sprouts       565
                potato                512
                squash                555
banana          brussel sprouts       576
                potato                570
                squash                524
blueberries     brussel sprouts       555
                potato                560
                squash                583
dtype: int64

In [27]:
df.groupby(['favorite_fruit', 'favorite_vegetable']).size().sort_values()

favorite_fruit  favorite_vegetable
apple           potato                512
banana          squash                524
apple           squash                555
blueberries     brussel sprouts       555
                potato                560
apple           brussel sprouts       565
banana          potato                570
                brussel sprouts       576
blueberries     squash                583
dtype: int64

In [30]:
df.groupby(['favorite_fruit', 'favorite_vegetable']).size().idxmax()

('blueberries', 'squash')

In [32]:
pd.crosstab(df.favorite_fruit, df.favorite_vegetable)

favorite_vegetable  brussel sprouts  potato  squash
favorite_fruit
apple                           565     512     555
banana                          576     570     524
blueberries                     555     560     583

##### - Which combination of favorite animal and wearing glasses has the highest average
  netflix consumption? people that wear glasses and prefer pandas

In [41]:
df.pivot_table('netflix_consumption', 'favorite_animal', 'wears_glasses')

wears_glasses           no        yes
favorite_animal
cat               9.846183   9.884685
dog               9.933246  10.087352
frog              9.962311   9.834740
lemur            10.024557  10.010196
panda             9.946293  10.092273

##### - **Bonus**: for each of the above questions, what kind of visualization would
  be the most effective in conveying your answer?