In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import scipy
import acquire

from acquire import merge_sales, check_csv, get_url_data

%matplotlib inline
base_url = 'https://python.zach.lol'
items_url = 'items'
stores_url = 'stores'
sales_url = 'sales'

In [2]:
base_url = 'https://python.zach.lol'
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

In [3]:
response = requests.get(base_url + '/documentation')
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [4]:
merged_sales = merge_sales(base_url, items_url, stores_url, sales_url)

In [5]:
merged_sales.head()

,sale_amount,sale_date,sale_id,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_id,store_state,store_zipcode
0,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
2,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
3,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
4,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253

In [6]:
merged_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   sale_amount    913000 non-null  float64
 1   sale_date      913000 non-null  object
 2   sale_id        913000 non-null  int64
 3   item_brand     913000 non-null  object
 4   item_id        913000 non-null  int64
 5   item_name      913000 non-null  object
 6   item_price     913000 non-null  float64
 7   item_upc12     913000 non-null  int64
 8   item_upc14     913000 non-null  int64
 9   store_address  913000 non-null  object
 10  store_city     913000 non-null  object
 11  store_id       913000 non-null  int64
 12  store_state    913000 non-null  object
 13  store_zipcode  913000 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 104.5+ MB

In [7]:
url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'
g_df = get_url_data(url)

In [8]:
g_df.shape

(4383, 5)

In [9]:
g_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4383 entries, 0 to 4382
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   object
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
dtypes: float64(4), object(1)
memory usage: 205.5+ KB

In [10]:
g_df.isna().sum()

Date              0
Consumption       0
Wind           1463
Solar          2195
Wind+Solar     2196
dtype: int64