In [1]:
import numpy as np
import pandas as pd

In [2]:
ls u-data

attendance.csv		gapminder1.csv		sales.csv
cake_recipes.csv	gapminder2.csv		students.csv
coffee_levels.csv	melted.csv		treatments.csv

In [3]:
treatments = pd.read_csv('u-data/treatments.csv')
treatments

                 treatmenta  treatmentb  treatmentc
0    John Smith         NaN           2           0
1      Jane Doe        16.0          11           3
2  Mary Johnson         3.0           1           4

In [4]:
treatments.columns = ['name', 'a', 'b', 'c']
treatments

           name     a   b  c
0    John Smith   NaN   2  0
1      Jane Doe  16.0  11  3
2  Mary Johnson   3.0   1  4

In [5]:
treatments.melt(id_vars=['name'], var_name='treatment', value_name='response')

           name treatment  response
0    John Smith         a       NaN
1      Jane Doe         a      16.0
2  Mary Johnson         a       3.0
3    John Smith         b       2.0
4      Jane Doe         b      11.0
5  Mary Johnson         b       1.0
6    John Smith         c       0.0
7      Jane Doe         c       3.0
8  Mary Johnson         c       4.0

In [6]:
git init

SyntaxError: invalid syntax (<ipython-input-6-f188d5ac1197>, line 1)